# Webapp (Client)
/apps/web-app/logs
/apps/web-app/*.log
/apps/npm-debug.log*
/apps/web-app/yarn-debug.log*
/apps/web-app/yarn-error.log*
/apps/web-app/pids
/apps/web-app/*.pid
/apps/web-app/*.seed
/apps/web-app/*.pid.lock
/apps/web-app/lib-cov
/apps/web-app/coverage
/apps/web-app/.nyc_output
/apps/web-app/.grunt
/apps/web-app/bower_components
/apps/web-app/.lock-wscript
/apps/web-app/build/Release
/apps/web-app/node_modules/
/apps/web-app/jspm_packages/
/apps/web-app/typings/
/apps/web-app/.npm
/apps/web-app/.eslintcache
/apps/web-app/.node_repl_history
/apps/web-app/*.tgz
/apps/web-app/.yarn-integrity
/apps/web-app/.env
/apps/web-app/.cache
/apps/web-app/.next
/apps/web-app/.nuxt
/apps/web-app/dist
/apps/web-app/.vuepress/dist
/apps/web-app/.serverless
/apps/web-app/sw.*
/apps/web-app/.DS_Store
/apps/web-app/*.swp
/apps/web-app/.idea

# Service Manager
/service-manager/node_modules
/service-manager/public/hot
/service-manager/public/storage
/service-manager/storage/*.key
/service-manager/vendor
#/service-manager/.env
/service-manager/.env.backup
/service-manager/.phpunit.result.cache
/service-manager/Homestead.json
/service-manager/Homestead.yaml
/service-manager/npm-debug.log
/service-manager/yarn-error.log
/service-manager/.idea

# Services (Purchase Service)
/services/purchase-service/node_modules
/services/purchase-service/public/hot
/services/purchase-service/public/storage
/services/purchase-service/storage/*.key
/services/purchase-service/vendor
#/services/purchase-service/.env
/services/purchase-service/.env.backup
/services/purchase-service/.phpunit.result.cache
/services/purchase-service/Homestead.json
/services/purchase-service/Homestead.yaml
/services/purchase-service/npm-debug.log
/services/purchase-service/yarn-error.log
/services/purchase-service/.idea

# Services (Sale Service)
/services/sale-service/vendor
/services/sale-service/.idea
/services/sale-service/Homestead.json
/services/sale-service/Homestead.yaml
#/services/sale-service/.env
/services/sale-service/.phpunit.result.cache

.idea
